.Pagination {
  position: fixed;
  bottom: 0px;
  color: #ccc;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.pagination-btn {
  min-width: 22px !important;
  opacity: 0.5;
}

.pagination-btn .fa-circle {
  color: #bdbdbd !important;
  font-size: 10px !important;
}

.pagination-btn .fa-circle-o {
  color: #9e9e9e !important;
  font-size: 10px !important;
}