.Skills {
  padding: 30px 0px;
}

.skills-title {
  margin-bottom: 10px;
}

.progress {
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0;
  padding: 20px;
  height: auto;
}

.CircularProgressbar {
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #101010;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  display: none;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}

.circle-element {
  width: 90%;
  padding: 5px 25px 0px 25px;
  margin: 0 auto;
}

.circle-element-title {
  color: #101010;
  border-top: 1px solid #101010;
  border-right: 1px solid #101010;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0 15px 0;
}

.asd {
  margin: 0;
  padding: 20px;
  height: 200px;
  background: pink;
}