.About {
  background: #101010;
  color: #ccc;
}

.about-content {
  padding: 30px;
}

.component-text {
  padding: 0px 200px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .component-text {
    padding: 0px 20px;
    text-align: center;
  }
}