.About .rotated-element {
  width: 600px;
  height: 490px;
  background: #f2f2f2;
  background: -moz-linear-gradient(-45deg, #f2f2f2 0%, #dbdbdb 100%);
  background: -webkit-linear-gradient(-45deg, #f2f2f2 0%, #dbdbdb 100%);
  background: linear-gradient(135deg, #f2f2f2 0%, #dbdbdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dbdbdb', GradientType=1);
  position: absolute;
  left: -200px;
  transform: rotate(30deg);
  top: -100px;
  -webkit-box-shadow: 0px 0px 109px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 109px -23px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 109px -23px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.about-title {
  text-align: right;
  right: 50px;
}

.about-text-first {
  right: 50px;
  padding: 10px 20px;
  margin-right: 50px;
  top: 38%;
  text-align: right;
  border-right: 1px solid rgba(242, 242, 242, 0.2);
}

.About .component-number {
  border-bottom: 1px solid rgba(29, 68, 102, 0.3);
}

@media screen and (max-width: 1000px) {
  .About .rotated-element {
    width: 400px;
    height: 500px;
    transform: rotate(30deg);
  }
}

@media screen and (max-width: 800px) {
  .About .rotated-element {
    display: none;
  }
  .component-number {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .about-text-first {
    position: absolute;
    top: 30%;
    left: 0px;
    color: #afafaf;
    font-size: 13px;
    width: calc(100% - 20px);
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 0px;
    border-left: 0px;
    border-right: 1px solid rgba(242, 242, 242, 0.2);
  }
  .content-mobile-view {
    display: block;
  }
  .content-desktop-view {
    display: none;
  }
  .about-title {
    text-align: center;
  }
  .cv-container a {
    width: 100% !important;
  }
}

.cv-container {
  margin-top: 20px;
}

.cv-container a {
  z-index: 50 !important;
  font-family: 'Fira Sans', sans-serif !important;
  color: #f2f2f2 !important;
  margin-right: 0px !important;
  padding: 0px 20px !important;
  text-transform: uppercase !important;
  padding: 0px 30px !important;
  border: 1px solid rgba(242, 242, 242, 0.15) !important;
  border-radius: 0px !important;
}

.cv-container a span {
  font-weight: normal !important;
}