.my-drawer>div:nth-of-type(2) {
  background-color: #262626 !important;
  padding-top: 40px;
}

.menu-item-container .menu-btn span {
  text-transform: capitalize !important;
}

.close-icon {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

.menu-item-social .menu-btn-social span {
  text-transform: capitalize !important;
}

.menu-item-social a div {
  margin: 4px 0px;
}

.Navigation hr {
  background: #3c3c3c;
}

.fa {
  font-size: 24px !important;
  text-transform: capitalize !important;
}

@media screen and (max-width: 600px) {
  .menu-icon {
    width: 34px !important;
    height: 34px !important;
    padding: 0px !important;
  }
}