@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

.App {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 50px;
}

.container {
  width: auto;
}

.component-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 300;
}

.element-center {
  text-align: center;
}

.main-button {
  margin-top: 25px;
  padding: 10px 50px;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: 1px solid #40E0D0;
  color: #40E0D0;
}

.main-button:hover {
  background: #40E0D0;
  color: #1d1d1d;
}

@media screen and (max-width: 1000px) {
  .App {
    margin-bottom: 0px;
  }
}