@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
.Component {
  height: calc(100vh - 200px);
  border-radius: 4px;
  padding: 30px 40px;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
}